<div id="title">
  <h1>Chat MVP</h1>
</div>
<div class="wp-chat">
  <button id="ingresar">Ingresar</button>
</div>

<p id="user"></p>
<form id="form" action="" method="POST">
  <input type="text" class="text" name="message" id="text">
  <input type="submit" value="Enviar" id="enviar">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>
