<div style="background-color: black; padding: 15px">
  <h1 class="title">CHAT MPV</h1>
  <h2 id="user"></h2>
</div>
<div id="box-msg">
  Loading...
</div>
<br /><br />
<form action="/chat" method="post">
  <input id="input-msg" placeholder="Ingrese mensaje..." type="text" name="message" />
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>