<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 600px; width: 100%; gap: 10px">
  <h2>Usuario no existe</h2>
  <div>
    <a href="/views/login" style="background-color: rgb(154, 20, 20); color: white; padding: 7px; border-radius: 7px">Volver a iniciar sesion</a>
    <a href="/views/register" style="background-color: rgb(154, 20, 20); color: white; padding: 7px; border-radius: 7px">Registrarse</a>
  </div>
</div>