<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 600px; width: 100%">
  <h2>usuario no encontrado</h2>
  <a href="/views/recovery-password" style="background-color: rgb(93, 15, 218); color: white; padding: 7px; border-radius: 7px">volver a intentarlo</a>
</div>