<div class="container-login">
  <h2>LOGIN</h2>
  <form action="/api/session/login" method="post" class="form">
    <label class="form-text" for="">Email</label><input class="form-input" type="email" name="email">
    <label class="form-text" for="">Contraseña</label><input class="form-input" type="password" name="password">
    <input type="submit" value="Iniciar sesion" class="form-input-submit">
    <a href="/views/recovery-password" class="recovery-pass">Olvide mi contraseña</a>
  </form>
</div>
