<div class="container-login">
  <h2>LOGIN</h2>
  <form action="/api/session/login" method="post" class="form">
    <label class="form-text" for="">Email</label><input class="form-input" type="email" name="email">
    <label class="form-text" for="">Contraseña</label><input class="form-input" type="password" name="password">
    <input type="submit" value="Iniciar sesion" class="form-input-submit">
    <a href="/views/recovery-password" class="recovery-pass">¿Olvidaste tu contraseña?</a>
  </form>
  <div class="github">
    <img src="/img/github.png" alt="github" class="img-github">
    <a href="/api/session/github" class="link-github">GitHub</a>
  </div>
  <div class="github">
    <img src="/img/face.webp" alt="facebook" class="img-github">
    <a href="/api/session/facebook" class="link-github">Facebook</a>
  </div>
</div>
