<div class="container-recovery">
  <h2>Recuperar contraseña</h2>
  <form action="" class="form-recovery">
    <label class="form-text">Nueva contraseña:</label><input class="form-input" type="text" name="password">
    <input type="submit" value="Enviar" class="form-input-submit">
  </form>
</div>