@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Preahvihear', sans-serif;
}

nav, 
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #ffe5b1;
}

.title-page {
  color: black;
}

.navbar-list {
  display: flex;
  justify-content: center;
}

.link {
  background-color: rgb(43, 43, 43);
  margin: 0 25px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.login {
  font-size: 18px;
  margin: 0px 10px;
  background-color: rgb(57, 12, 204);
  padding: 7px;
  border-radius: 10px;
  color: white;
}

.register {
  font-size: 18px;
  margin: 0px 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(252, 153, 33);
  color: white;
  padding: 7px;
  border-radius: 10px;
}